*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/captures
.externalNativeBuild
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.apk
*.dex
bin/
gen/
out/
build/
proguard/
.navigation/
captures/
.idea/tasks.xml
.idea/dictionaries
*.jks
google-services.json
freeline.py
freeline/
freeline_project_description.json
.idea/**/tasks.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
app/libs/
app/src/main/res/drawable/
